<!DOCTYPE html>

<html lang="en">

  

<head>

    <style>
 

        /* Styling the body */

        body {

            margin: 0;

            padding: 0;

        }

          

        /* Styling section, giving background

            image and dimensions */

        section {
